*{
font-family: roboto, sans-serif;
}
.body{
margin: 0;
padding: 0;
}

.banner{
background-color: #FFFFFF;
display: flex;
flex-wrap: nowrap;
align-items: center;
}

.fleche{
width: 30%;
}

.logo_ohmyfood{
width: 60%;
}

.imgfleche{
max-width: 100%;
}

.imgomf{
max-width: 100%;
}

.imgheader{
max-height: 100%;
max-width: 100%;
object-fit: cover;
aspect-ratio: 4;
}


.main_resto{
background-color: #F7F7F7;
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 50px 50px 0 0;
position: relative;
margin-top: -5%;
padding-bottom: 4%;
}

.menu{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 5%;
}

.resttitleheart{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

.resttitle{
font-family: 'Shrikhand';
font-weight: 700;
font-size: 30px;
width: 24%;
}

.heart:hover{
background:url(/assets/Images_textes/images/coeurplein.png) no-repeat;
transition: 3s;
}

.menu_parts{
margin-left: 3%;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
color: #000000;
text-decoration: underline;
text-decoration-color: #99E2D0;
text-decoration-thickness: 3px;
margin-bottom: 2%;
text-align: unset;
}



.entrees:hover .slidecoche, .plats:hover .slidecoche, .desserts:hover .slidecoche{
width: 30%;
border-radius: 0 20px 20px 0;
margin-left: 2%;
background-color: #99E2D0;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
transition: 300ms ease-in-out ;
}

.entrees:hover .nomrepas, .entrees:hover .precrepas{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.plats:hover .nomrepas, .plats:hover .precrepas{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.desserts:hover .nomrepas, .desserts:hover .precrepas{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.choixrepas{
width: 80%;
}

.nomrepas{
font-weight: 800;
margin-left: 4%;
margin-bottom: 0%;
margin-top: 2%;
}


.precrepas{
margin-left: 4%;
margin-top: 2%;
margin-bottom: 2%;
font-weight: 300;
}

.prix{
display: flex;
align-items: center;
}

.entrees_plats_desserts{
width:80%;
}

.entrees,.plats, .desserts{
background-color: white;
border-radius: 20px 20px 20px 20px;
padding: 0.1%;
line-height: 0.7em;
margin-bottom: 2%;
display: flex;
flex-wrap: nowrap;
width: 100%;
}

.btn_cmd{
color: white;
background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 25px;
margin: 0 auto;
padding: 2%;
width: 20%;
text-align: center;
margin-bottom: 1%;    
}

.btn_cmd:hover {
filter: brightness(1.15);
box-shadow: 1px 1px 13px 8px rgba(0, 0, 0, 0.1);
}

.entrees, .plats, .desserts{ 
animation: slidein 2s forwards;
opacity:0;
}

.plats{
animation-delay: 300ms;
}

.desserts{
animation-delay:600ms;
}

@keyframes slidein{
0% {opacity:0; transform: translateX(-900px);}
100% {opacity:1; transform: translateX(0px);}
}

.footer_ohmyfood{
display: flex;
flex-wrap: nowrap;
justify-content: right;
background-color: #353535;
padding-top: 5%;
padding-bottom: 2%;
font-size: 20px;
position: relative;
}

.reco{
display: flex;
flex-wrap: nowrap;
font-weight: bold;
color: white;
white-space: nowrap;
}

.mention{
font-family: "Roboto", sans-serif;
display: flex;
flex-wrap: nowrap;
color: white;
font-weight: 100;
margin-left: 5%;
margin-right: 17%;
white-space: nowrap;
text-decoration: none;
}


#icone_reco1{
margin-right: 3%;
}
#icone_reco2{
margin-right: 3%;
}
.footer_parts{
margin-right: 6%;
}
.ohmyfoodbtm{
font-family: 'Shrikhand';
font-style: italic;
font-weight:bold;
color: white;
font-size: 20px;
position: absolute;
bottom: 35px;
margin-right: 5%;
}
    
@media (max-width:780px){
.fleche{
width: 25%;
}

.logo_ohmyfood{
width: 50%;
}


.main_resto{
width: 100%;
margin-left: 0;
margin-right: 0;
}

.resttitleheart{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: baseline;
}

.resttitle{
padding-left: unset;
font-family: 'Shrikhand';
font-weight: 700;
font-size: 24px;
width: 56%;
}


.entrees, .plats, .desserts{
display: flex;
border-radius: 15px 15px 15px 15px;
margin-top: 4%;
}

.entrees:hover .choixrepas, .plats:hover .choixrepas, .dessert:hover .choixrepas{
width: 70%;
}

.nomrepas{
padding-top: 5%;
}

.precrepas{
padding-bottom: 5%;
padding-top: 4%;
}

.btn_cmd{
width: 28%;
}
.footer_ohmyfood{
display: flex;
flex-direction: column;
padding-left: 5%;
}

.ohmyfoodbtm{
position: unset;
order: 1;
margin-bottom: 5%;
font-weight: unset;
}

.footer_parts{
margin-bottom: 2%;
}

.reco{
display: block;
margin: 0%;
order: 2;
margin-bottom: 2%;
font-weight: unset;
}

.mention{
display: block;
margin: 0%;
order: 3;
margin-bottom: 2%;}
}
